@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700,800,900i&display=swap');
 
@font-face { 
	font-family: Akkurat; 
	font-weight: normal;
	font-style: normal;
	src: url('fonts/Akkurat-Regular.ttf'); 
} 

@font-face { 
	font-family: Akkurat; 
	font-weight: bold;
	font-style: normal;
	src: url('fonts/Akkurat-Bold.ttf'); 
} 

@font-face {font-family: Novecento Cond UltraBold;
    src: url("fonts/Novecento CondBold.eot");
    src: url("fonts/Novecento CondBold.eot") format("embedded-opentype"),
    url("fonts/Novecento CondBold.woff2") format("woff2"),
    url("fonts/Novecento CondBold.woff") format("woff"),
    url("fonts/Novecento CondBold.ttf") format("truetype"),
    url("fonts/Novecento CondBold.svg") format("svg");
}

:root {
  --oranje: #f76014;
  --beige: #f6eace;
  --bruin: #3d1515;
  --zwart: #000;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: hidden;
}

section {
	margin: 0 5% 0 5%;
	background-color: var(--oranje);
	position: relative;
	height: calc(100vh - 44px);
}

h1 {
    font-family: Novecento Cond UltraBold;
    font-size: 14vh;
    line-height: 1;
    margin: -4% 0 0 0;
    text-align: center;
}

.preload-cursors{
	clip:rect(0 0 0 0);
	position:absolute;
	overflow:hidden;
	margin:-.1rem;
	padding:0;
	width:.1rem;
	height:.1rem;
	border:0
}
.preload-cursors b{
	cursor:url(https://shopify.github.io/draggable/assets/img/cursor-drag-clicked.png),auto
}
.preload-cursors u{
	cursor:url(https://shopify.github.io/draggable/assets/img/cursor-pointer-clicked.png),pointer
}
.preload-cursors a{
	cursor:url(https://shopify.github.io/draggable/assets/img/cursor-rock-clicked.png),pointer
}

.draggable--is-dragging,.draggable--is-dragging *{
	cursor:url(https://shopify.github.io/draggable/assets/img/cursor-drag-clicked.png),auto
}


.wrapper.dropzones{
    grid-template-columns: repeat(10, 9%);
    grid-template-rows: repeat(8, 12.5%);
    grid-column-gap: 1%;
    height: 100%;
    width: 45vw;
    position: absolute;
    top: 0;
    left: 45vw;
    background-color: transparent;
    display: grid;
    z-index: 1;
}

.wrapper.droppables {
	width: 45vw;
}

.wrapper.dropzones .dropzone {
	background-color: var(--beige);
}

.dropzone-1 {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 1;
}

.dropzone-2 {
	grid-column-start: 4;
	grid-column-end: 10;
	grid-row-start: 2;
	grid-row-end: 2;
}

.dropzone-3 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 3;
}

.dropzone-4 {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 4;
}

.dropzone-5 {
	grid-column-start: 4;
	grid-column-end: 10;
	grid-row-start: 5;
	grid-row-end: 5;
}

.dropzone-6 {
	grid-column-start: 3;
	grid-column-end: 9;
	grid-row-start: 6;
	grid-row-end: 6;
}

.dropzone-7 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 7;
	grid-row-end: 7;
}

.dropzone-8 {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 8;
	grid-row-end: 8;
}




.dropzone.occupied {
	position: absolute;
	z-index: 10;
	animation: slideInFromTop var(--time1) ease-in, var(--time1);
}

.dropzone.occupied h1 {
	animation: rotate var(--time2) ease-in;
}

.dropzone.occupied h1:hover {
	color: var(--beige);
}
/*
.droppable-1 {
	--droppable1: 70vh;
	--time1: calc(0.1s * 10);
	top: var(--droppable1);
}

.droppable-1 h1 {
	--rotater: 5deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-2 {
	--droppable1: 60vh;
	--time1: calc(0.1s * 5);
	top: var(--droppable1);
	left: 30vw;
}

.droppable-2 h1 {
	--rotater: 10deg;
	transform:rotate(var(--rotater));
	--time2: 0.7s;
}

.droppable-3 {
	--droppable1: 80vh;
	top: var(--droppable1);
	--time1: calc(0.1s * 8);
	left: 0vw;
}

.droppable-3 h1 {
	--rotater: 15deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-4 {
	--droppable1: 70vh;
	--time1: calc(0.1s * 7);
	top: var(--droppable1);
	left: 25vw;
}

.droppable-4 h1 {
	--rotater: 20deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-5 {
	--droppable1: 70vh;
	top: var(--droppable1);
	--time1: calc(0.1s * 8);
	left: 15vw;
}

.droppable-5 h1 {
	--rotater: 10deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-6 {
	--droppable1: 60vh;
	top: var(--droppable1);
	--time1: calc(0.1s * 5);
	left: 17vw;
}

.droppable-6 h1 {
	--rotater: -5deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-7 {
	--droppable1: 50vh;
	top: var(--droppable1);
	--time1: calc(0.1s * 9);
	left: 5vw;
}

.droppable-7 h1 {
	--rotater: -15deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

.droppable-8 {
	--droppable1: 60vh;
	top: var(--droppable1);
	--time1: calc(0.1s * 7);
}

.droppable-8 h1 {
	--rotater: -10deg;
	transform:rotate(var(--rotater));
	--time2: 0.5s;
}

/* ANIMATION 
@keyframes slideInFromTop {
    0% {
        top: -10vh;
    }
    100% {
    	top: var(--droppable1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
    	transform: rotate(calc(var(--rotater) - 50deg));
    }
    100% {
    	transform: rotate(var(--rotater));
    }
}

*/
